<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <meta charset="UTF-8">
    <title>Album page &bull; TIW Exam 2020</title>
</head>
<body th:width="i">
<div th:insert="fragments/navbar::navigation('album')"></div>
<div id="thumbnails" th:if="${imageDetails==null}">
    <div class="main">
        <h1>Album Page</h1>
        <table class="table">
            <tr th:if="${not imageList.isEmpty()}">
                <th th:each="i : ${imageList}" th:unless="${imageList.indexOf(i)>4}">
                    <a th:href="@{/ShowImageDetails(image=${i.getImageId()})}">
                        <img class="thumbnail" th:src="${i.getPath()}">
                    </a><br>
                    <p th:text="${i.getTitle()}"></p>
                </th>
            </tr>
        </table>
    </div>
    <div class="arrowsDiv">
        <a th:href="@{/GoToAlbumPage(album=${#request.getParameter('album')}, page=${pageId}, dir='prev')}"><span
                th:class="${(imageFull.size()>5 && pageId>0) ? 'leftArrow btn btn-primary' : 'hidden'}"
                th:text="${imageFull.size()>5 ? 'Prev' : ''}"></span></a>
        <a th:href="@{/GoToAlbumPage(album=${#request.getParameter('album')}, page=${pageId}, dir='next')}"><span
                th:class="${(imageFull.size()>5 && pageId<imageFull.size()/3 - 1) ? 'rightArrow btn btn-primary' : 'hidden'}"
                th:text="${imageFull.size()>5 ? 'Next' : ''}"></span></a>
    </div>
    <div class="main">
        <h4>Add a new image to the album!</h4>
        <div class="forms">
            <form th:action="@{/InsertImage}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:value="${#request.getParameter('album')}" name="album">
                <div class="form-group">
                    <label>Title
                        <input type="text" class="form-control" name="title"></label>
                </div>
                <div class="form-group">
                    <label>Description
                        <input type="text" class="form-control" name="description"></label>
                </div>
                <div class="form-group">
                    <label>Date
                        <input type="date" name="date"></label>
                </div>
                <div class="form-group">
                    <label>Image
                        <input type="file" name="file" accept=".png, .jpg"></label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <span th:class="${!session.newImageErr.isEmpty() ? 'alert alert-danger' : ''}"
                  th:text="${session.newImageErr}"></span>
        </div>
    </div>
</div>
<div id="details" th:if="${(imageDetails!=null)}">
    <div class="main">
        <img th:src="${imageDetails.getPath()}">
        <h1>Details</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>Title</th>
                <th th:text="${imageDetails.getTitle()}"></th>
            </tr>
            <tr>
                <th>Description</th>
                <th th:text="${imageDetails.getDescription()}"></th>
            </tr>
            <tr>
                <th>Date</th>
                <th th:text="${imageDetails.getDate()}"></th>
            </tr>
            </tbody>
        </table>
        <h1>Comments</h1>
        <table class="table table-striped">
            <thead class="table-dark">
            <th scope="col">Nickname</th>
            <th scope="col">Comment</th>
            </thead>
            <tbody>
            <tr th:each="c : ${comments}">
                <td th:text="${c.getNickname()}"></td>
                <td th:text="${c.getComment()}"></td>
            </tr>
            </tbody>
        </table>
        <h2>Submit a new comment</h2>
        <div class="forms">
            <form th:action="@{/AddComment}" method="post">
                <div class="form-group">
                    <label>Nickname
                        <input type="text" class="form-control" name="nickname" required></label>
                </div>
                <div class="form-group">
                    <label>Comment
                        <textarea class="form-control" name="comment" required></textarea></label>
                </div>
                <input type="hidden" name="image" th:value="${#request.getParameter('image')}">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>